page-node-details {

}

//hide footer for clear design
.item-subjects {
  text-align: center;
  font-size: 12px !important;
  color: #fff;
  height: 22px !important;
  margin-left: 3px!important;
}

gmnoprint a, .gmnoprint span {
  display: none;
}

.gmnoprint div {
  background: none !important;
}

#GMapsID div div a div img {
  display: none;
}

a[href^="http://maps.google.com/maps"] {
  display: none !important
}

.gmnoprint a, .gmnoprint span {
  display: none;
}

.gmnoprint div {
  background: none !important;
}

img[src="http://maps.gstatic.com/mapfiles/google_white.png"] {
  display: none;
}

img[src="http://maps.gstatic.com/mapfiles/api-3/images/google_white2.png"] {
  display: none
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  line-break: auto;
  justify-content: center;
  margin-bottom: 20px;
}
