<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button (click)="presentPopover()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="no-scroll">
  <!--Using the HTML5 video tag to display the matching video-->
  <video autoplay loop [muted]="true" src="{{getVideoTheme('few clouds')}}"></video>
  <ion-card
    style="width: 80%!important;max-width: 400px!important; margin: auto; margin-top: 30px; background:rgba(255,255,255,0.8)">
    <ion-card-content>
      <div>
        <div id="city">{{primaryLocation.name.toUpperCase()}}</div>
      </div>
      <div>
        <div id="zipcode">{{primaryLocation.zipCode}}
          <ion-icon class="pulse" name="pin"
                    style="color: #e63946!important; font-size: 33px!important;margin-left: -15px"
                    (click)="showCityDetails(primaryLocation)"></ion-icon>
        </div>
      </div>

      <div style="text-align: center">
        <div id="icon" [ngStyle]="{'color': cityColor}">
          <ion-icon name="{{getIconForWeather(currentWeather)}}"
                    [ngStyle]="{'color': getIconColorForWeather(currentWeather)}"></ion-icon>
          {{currentTemperature}}°
        </div>
      </div>

      <div>
        <div *ngIf="forecastActivated" style="margin:auto; text-align:center">
          <!--Tagesvorschau-->
          <br>
          <ion-title>Aktuell</ion-title>
          <div class="row header" *ngFor="let item of forecast[0]; let i=index"
               style="margin:auto!important; text-align:center!important;">
            <div class="row header" *ngIf="i<1"
                 style="margin:auto!important; text-align:center!important; font-size: large!important;">
              <div class="col" style="width: 60px!important;">{{item.dt_txt.toString().substring(10,16)}}</div>
              <div class="col" style="width: 20px!important;">
                <ion-icon name="{{getIconForWeather(item.weather[0].description)}}"
                          [ngStyle]="{'color': getIconColorForWeather(item.weather[0].description)}"></ion-icon>
              </div>
              <div class="col" style="width: 60px!important;">{{round(item.main.temp_min)}}°</div>
              <div class="col" style="width: 80px!important;white-space: nowrap;">{{round(item.main.pressure)}} hPa
              </div>
            </div>
          </div>
          <br>
          <ion-title>Tagesvorschau</ion-title>

          <div class="row header" *ngFor="let item of forecast[0]; let i=index"
               style="margin:auto!important; text-align:center!important;">
            <div class="row header" *ngIf="i<10&&i>=1" style="margin:auto!important; text-align:center!important;">
              <div class="col" style="width: 60px!important;">{{item.dt_txt.toString().substring(10,16)}}</div>
              <div class="col" style="width: 20px!important; text-align: center">
                <ion-icon name="{{getIconForWeather(item.weather[0].description)}}"
                          [ngStyle]="{'color': getIconColorForWeather(item.weather[0].description)}"></ion-icon>
              </div>
              <div class="col" style="width: 60px!important;">{{round(item.main.temp_min)}}°</div>
              <div class="col" style="width: 80px!important;white-space: nowrap;">{{round(item.main.pressure)}} hPa
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

